<div class=admin-show>
  <table border=1>
    <tr>
      <th>投稿ユーザーID</th>
      <td><%= @comment.tweet.user.id %></td>
    </tr>
    <tr>
      <th>投稿ユーザー名</th>
      <td><%= @comment.tweet.user.name %></td>
    </tr>
    <tr>
      <th>投稿ID</th>
      <td><%= @comment.tweet.id %></td>
    </tr>
    <tr>
      <th>投稿内容</th>
      <td><%= @comment.tweet.text %></td>
    </tr>
    <tr>
      <th>コメントユーザーID</th>
      <td><%= @comment.user.id %></td>
    </tr>
    <tr>
      <th>コメントユーザー名</th>
      <td><%= @comment.user.name %></td>
    </tr>
    <tr>
      <th>コメントID</th>
      <td><%= @comment.id %></td>
    </tr>
    <tr>
      <th>コメント内容</th>
      <td><%= @comment.text %></td>
    </tr>
    <tr>
      <th>コメント登録日時</th>
      <td><%= @comment.created_at_ja %></td>
    </tr>
    <tr>
      <th>コメント更新日時</th>
      <td><%= @comment.updated_at_ja %></td>
    </tr>
  </table>

  <%# 編集 %>
  <%= link_to '編集', edit_admin_comment_path(@comment.id) %><br>
  <%# 一覧 %>
  <%= link_to 'コメント一覧に戻る', admin_comments_path %>
</div>
