<div class='admin-edit'>
  <%= form_with model: @tweet, url: admin_tweet_path, local:  true do |f| %>
    <%= render "shared/error_messages", resource: resource %>
    <%# サイト %>
    <%= f.label :url, 'サイトURL', class: 'admin-edit__label' %>
    <br>
    <%= f.text_field :url, autofocus: true,value: @site_url, class: 'admin-edit__field' %>
    <br>
    <%# 紹介文 %>
    <%= f.label :text, class: 'admin-edit__label' %>
    <br>
    <%= f.text_area :text, class: 'admin-edit__field' %>
    <br>
    <%# タグ %>
    <%= f.label :tag_list, 'タグ', class: 'admin-edit__label' %>
    <br>
    <%= f.text_field :tag_list, value: @tweet.tag_list.join(","), class: 'tag_form_js admin-edit__field' %>
    <%# タイムライン公開フラグ %>
    <%= f.check_box :is_opened %>
    <%= f.label :is_opened, class: 'admin-edit__label' %>
    <br>
    <%# 編集ボタン %>
    <%= f.submit "編集する", class: 'admin-edit__link' %>
  <% end %>
  <%= link_to '編集しないで戻る', admin_tweet_path(@tweet.id), class: 'admin-edit__link' %>
</div>

<%# tag-itを有効にする %>
<%= javascript_include_tag 'tag-input.js' %>
