<h2>投稿一覧</h2>
<table style="table-layout:fixed;width:100%;">
  <!-- テーブルタイトル -->
  <thead>
    <tr>
      <th>ID</th>
      <th>ユーザー名</th>
      <th>サイト</th>
      <th>投稿記事</th>
      <th>タイムライン公開フラグ</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th>
    </tr>
  </thead>
  <!-- テーブル中身 -->
  <% @tweets.each do |tweet| %>
    <tbody>
      <tr>
        <%# id %>
        <td><%= tweet.id %></td>
        <%# 投稿ユーザー %>
        <td>
          <%= tweet.user.name %>
        </td>
        <%# サイト %>
        <td style="word-wrap:break-word;"><%= tweet.site.url %></td>
        <%# 投稿記事 %>
        <td><%= tweet.text %></td>
        <%# タイムライン公開フラグ %>
        <td><%= tweet.is_opened %></td>
        <%# 作成日時 %>
        <td><%= tweet.created_at_ja %></td>
        <%# 更新日時 %>
        <td><%= tweet.updated_at_ja %></td>
        <%# 編集画面 %>
        <td>
          <%= link_to admin_tweet_path(tweet.id) do %>
            <button>詳細</button>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>

<%= paginate @tweets %>
