<div class='main-visual'>
  <%# 左側 %>
  <div class='main-visual__box-1'>
    <div class='main-visual__box-1-content-1'>
      <span class='main-visual__title'>SiteStocker</span>
    </div>
    <div class='main-visual__box-1-content-2'>
      <p>お気に入りのサイトを</p>
      <h3>見つけよう</h3>
      <h3>共有しよう</h3>
      <h3>語り合おう</h3>
    </div>
  </div>

  <%# 右側 %>
  <div class='main-visual__box-2'>
    <div class='main-visual__box-2-content-1__signup'>
      <div align='center'>
        <%= render 'layouts/notifications' %>
        <%= form_with model: @user, url: new_user_session_path, id: 'new_sesson', local:  true do |f| %>
          <table>
            <tr>
              <td><%= f.label :email, class: 'form__text' %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", id: 'log_in_user_email__input' %></td>
            </tr>
            <tr>
              <td><%= f.label :password, class: 'form__text' %></td>
              <td><%= f.password_field :password, autocomplete: "current-password", id: 'log_in_user_password__input' %></td>
            </tr>
          </table>
          <br>
          <%= f.submit "ログイン", class: 'button__black button__wide' %>
        <% end %>
      </div>
      <br>
      or<br>
      <br>
      <%= link_to '簡単ログイン', user_guest_sign_in_path, method: :post, class: 'button__outline-black' %>
      <br>
      <br>
      ユーザー登録がまだの方はこちら<br>
      <br>
      <%= link_to 'ユーザー登録', new_user_registration_path, class: 'button__outline-black' %>
    </div>
  </div>
</div>
