<div class='main-visual'>
  <%# 左側 %>
  <div class='main-visual__box-1'>
    <div class='main-visual__box-1-content-1'>
      <span class='main-visual__title'>SiteStocker</span>
    </div>
    <div class='main-visual__box-1-content-2'>
      <p>まだ知らないサイトを</p>
      <h3>見つけよう</h3>
      <h3>共有しよう</h3>
      <h3>語り合おう</h3>
    </div>
  </div>

  <%# 右側 %>
  <div class='main-visual__box-2'>
    <div class='main-visual__box-2-content-1__signup'>
      <div align='center'>
        <%= render "user/shared/error_messages", resource: resource %>
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', local: true do |f| %>
          <table>
            <tr>
              <td><%= f.label :name , 'ユーザー名', class: 'form__text' %></td>
              <td><%= f.text_field :name, autofocus: true, id: 'new_user_name__input' %></td>
            </tr>
            <tr>
              <td><%= f.label :email, class: 'form__text' %></td>
              <td><%= f.email_field :email, autocomplete: "email", id: 'new_user_email__input' %></td>
            </tr>
            <tr>
              <td><%= f.label :password, class: 'form__text' %></td>
              <td><%= f.password_field :password, autocomplete: "new-password", id: 'new_user_password__input' %></td>
            </tr>
            <tr>
              <td><%= f.label :password_confirmation, class: 'form__text' %></td>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password", id: 'new_user_password_confirmation__input' %></td>
            </tr>
          </table>
          <br>
          <%= f.submit "登録する", class: 'button__black button__wide' %>
        <% end %>
      </div>
      <br>
      or
      <br>
      <br>
      <%= link_to 'ログイン', new_user_session_path, class: 'button__outline-black' %>
      <%= link_to '簡単ログイン', user_guest_sign_in_path, method: :post, class: 'button__outline-black' %>
      <br>
      <br>
    </div>
  </div>
</div>

