<div class='registration'>
  <div class='registration__left bg-primary'>
    おすすめサイトを共有しよう！
  </div>
  <div class='registration__right bg-light'>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', local: true do |f| %>
      <%= render "user/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name , 'ユーザー名' %>
        <%= f.text_field :name, autofocus: true, id: 'new_user-name__input' %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email", id: 'new_user-email__input' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", id: 'new_user-password__input'  %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", id: 'new_user-password_confirmation__input'  %>
      </div>

      <div class="actions">
        <%= f.submit "登録する" %>
      </div>
    <% end %>

    or<br>
    <%= link_to new_user_session_path do %>
      <button>ログイン</button>
    <% end %>
    <%= link_to user_guest_sign_in_path, method: :post do %>
      <button>簡単ログイン</button>
    <% end %>
    <small>簡単ログインはポートフォリオ用の機能です。<br>
    値を入力せずにログインすることができます</small>
  </div>
</div>
