<div class='admin-home'>
  <div class='admin-home__title'>ホーム画面</div>
  <table class='admin-home__table' border='1'>
    <tr>
      <th rowspan='2' class='admin-home__table-header admin-home__table-title'>
        ユーザー
      </th>
      <th class='admin-home__table-header'>
        総数
      </th>
      <th class='admin-home__table-header'>
        アクティブ
      </th>
      <th class='admin-home__table-header'>
        退会済み
      </th>
      <th rowspan='2' class='admin-home__table-header admin-home__table-link'>
        <%= link_to '一覧', admin_users_path %>
      </th>
    </tr>
    <tr>
      <td>
        <%= User.all.count %>
      </td>
      <td>
        <%= User.all.where(is_active: true).count %>
      </td>
      <td>
        <%= User.all.where(is_active: false).count %>
      </td>
    </tr>
  </table>

  <table class='admin-home__table' border='1'>
    <tr>
      <th rowspan='2' class='admin-home__table-header admin-home__table-title'>
        投稿
      </th>
      <th class='admin-home__table-header'>
        総数
      </th>
      <th class='admin-home__table-header'>
        公開
      </th>
      <th class='admin-home__table-header'>
        非公開
      </th>
      <th rowspan='2' class='admin-home__table-header admin-home__table-link'>
        <%= link_to '一覧', admin_tweets_path %>
      </th>
    </tr>
    <tr>
      <td>
        <%= Tweet.all.count %>
      </td>
      <td>
        <%= Tweet.all.where(is_opened: true).count %>
      </td>
      <td>
        <%= Tweet.all.where(is_opened: false).count %>
      </td>
    </tr>
  </table>

  <table class='admin-home__table' border='1'>
    <tr>
      <th rowspan='2' class='admin-home__table-header admin-home__table-title'>
        タグ
      </th>
      <th class='admin-home__table-header'>
        総数
      </th>
      <th rowspan='2' class='admin-home__table-header admin-home__table-link'>
        <%= link_to '一覧', admin_tags_path %>
      </th>
    </tr>
    <tr>
      <td>
        <%= ActsAsTaggableOn::Tag.all.count %>
      </td>
    </tr>
  </table>

  <table class='admin-home__table' border='1'>
    <tr>
      <th rowspan='2' class='admin-home__table-header admin-home__table-title'>
        コメント
      </th>
      <th class='admin-home__table-header'>
        総数
      </th>
      <th rowspan='2' class='admin-home__table-header admin-home__table-link'>
        <%= link_to '一覧', admin_comments_path %>
      </th>
    </tr>
    <tr>
      <td>
        <%= Comment.all.count %>
      </td>
    </tr>
  </table>
</div>
