<div class='admin-index'>

  <div class='admin-index__title'>タグ一覧</div>
  <table border=1>
    <!-- テーブルタイトル -->
    <thead>
      <tr>
        <th>ID</th>
        <th>タグ名</th>
        <th>使用回数</th>
        <th></th>
      </tr>
    </thead>
    <!-- テーブル中身 -->
    <% @tags.each do |tag| %>
      <tbody>
        <tr>
          <%# id %>
          <td data-label='id' class='admin-index__id'><%= tag.id %></td>
          <%# タグ名 %>
          <td data-label='タグ名'><%= tag.name %></td>
          <%# 使用回数 %>
          <td data-label='使用回数'><%= tag.taggings_count %></td>
          <%# 詳細画面 %>
          <td><%= link_to '詳細', admin_tag_path(tag.id) %></td>
        </tr>
      </tbody>
    <% end %>
  </table>

  <%= paginate @tags %>
</div>
