<div class=admin-show>
  <table border=1>
    <tr>
      <th>タグID</th>
      <td><%= @tag.id %></td>
    </tr>
    <tr>
      <th>タグ名</th>
      <td><%= @tag.name %></td>
    </tr>
    <tr>
      <th>使用回数</th>
      <td><%= @tag.taggings_count %></td>
    </tr>
    <tr>
      <th>作成日時</th>
      <td><%= @tag_created_at %></td>
    </tr>
    <tr>
      <th>更新日時</th>
      <td><%= @tag_updated_at %></td>
    </tr>
  </table>

  <%# 編集 %>
  <%= link_to '編集', edit_admin_tag_path(@tag.id) %><br>
  <%# 一覧 %>
  <%= link_to 'タグ一覧に戻る', admin_tags_path %>
</div>
