<div class="home">
  <div class='home__left-side'>

    <%= link_to new_tweet_path do %>
      <button>投稿する</button>
    <% end %>
  </div>

  <div class='home__main'>
    <% @tweets.each do |tweet| %>
      <%# サイトURLをAPIに送信する用 %>
      <input id=<%='site_url_js' + tweet.id.to_s %> type='hidden' value=<%= tweet.site.url %> >
      <div class='timeline__box'>
        <div class='timeline__row1'>
          <div class='timeline__row1-col1'>
            <%# アイコン %>
            <%= attachment_image_tag tweet.user, :image, fallback: "user-default.png",class: 'timeline__user-icon' %>
            <%# ユーザー名 %>
            <span class='timeline__user-name'>
              <%= tweet.user.name %>
            </span>
          </div>
          <%# 投稿日時 %>
          <div class='timeline__tweeted-time'>
            <small><%= tweet.tweeted_at %></small>
          </div>
        </div>
        <div class='timeline__row2'>
          <div class='timeline__row2-col1'>
            <%# サイト画像 %>
            <img id=<%="myimage_js" + tweet.id.to_s %> src="" class='timeline__site-image'>
            <%# TODO:タグ %>
          </div>
          <div class='timeline__row2-col2'>
            <%# ページタイトル %>
            <div id=<%='mytitle_js' + tweet.id.to_s %> class='timeline__page-title' ></div>
            <%# ページURL %>
            <div id=<%='myurl_js' + tweet.id.to_s %> class='timeline__page-url'></div>
            <%# 紹介文 %>
            <div class='timeline__tweet-text'><%= tweet.text %></div>
          </div>
        </div>
        <div class='timeline__row3'>
          <div class='timeline__tweet-comment'>
            <%# コメント %>
            <i class="far fa-comment-alt">コメント</i>
          </div>
          <div class='timeline__tweet-like'>
            <%# いいね %>
            <i class="far fa-thumbs-up">いいね</i>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class='home__right-side'>
  </div>
</div>
