<div class='admin-index'>

  <div class='admin-index__title'>ユーザー一覧</div>
  <table border=1>
    <!-- テーブルタイトル -->
    <thead>
      <tr>
        <th>ID</th>
        <th>アイコン</th>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>自己紹介</th>
        <th>有効会員フラグ</th>
        <th>登録日時</th>
        <th>更新日時</th>
        <th></th>
      </tr>
    </thead>
    <!-- テーブル中身 -->
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <%# id %>
          <td data-label='id' class='admin-index__id'><%= user.id %></td>
          <%# アイコン %>
          <td data-label='アイコン'>
            <%= attachment_image_tag user, :image, format: 'jpeg', fallback: "user_default.png", size: "36x36" %>
          </td>
          <%# 名前 %>
          <td data-label='名前'><%= user.name %></td>
          <%# メールアドレス %>
          <td data-label='メールアドレス'><%= user.email %></td>
          <%# 自己紹介 %>
          <td data-label='自己紹介' style="word-wrap:break-word;"><%= user.text %></td>
          <%# 有効会員フラグ %>
          <td data-label='有効会員フラグ'><%= user.is_active %></td>
          <%# 登録日時 %>
          <td data-label='登録日時'><%= user.created_at_ja %></td>
          <%# 更新日時 %>
          <td data-label='更新日時'><%= user.updated_at_ja %></td>
          <%# 編集画面 %>
          <td>
            <%= link_to '詳細', admin_user_path(user.id) %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>

  <%= paginate @users %>
</div>
