<div class='tweet-new'>
  <i class="fas fa-sticky-note left-side__search-title"> 投稿しよう</i>
  <span id="tweet_close_js"><i class="fas fa-times tweet-new__close"></i></span>
  <%= form_with model: @new_tweet, url: tweets_path, id: 'new_tweets', local: true do |f| %>
    <%= render "user/shared/error_messages", resource: resource %>
    <%# URL %>
    <%= f.label :url, 'URL', class: 'tweet-new__url-label' %><br>
    <%= f.text_field :url, type: 'url', placeholder: "サイトのURLを入力", autofocus: true, id: 'new_tweet_url__input', class: 'tweet-new__url-field', :required => true %>
    <br>
    <%# 投稿記事 %>
    <%= f.label :text, '投稿記事（250文字まで）', class: 'tweet-new__text-label' %><br>
    <%= f.text_area :text, placeholder: "紹介文を記入", id: 'new_tweet_text__input', class: 'tweet-new__text-field', rows: '3', maxlength: '250', :required => true %>
    <br>
    <%# タグ %>
    <%= f.label :tag_list, 'タグ（5つまで）', class: 'tweet-new__tag-label' %><br>
    <%= f.text_field :tag_list, value: @new_tweet.tag_list.join(","), id: 'new_tweet_tag_list__input', class: 'tag_form_js tweet-new__tag-field' %>

    <%# 公開・非公開 %>
    <div class='tweet-new__is-opened-box'>
      <%= f.check_box :is_opened, id: 'new_tweet_is_opened__input', class: 'tweet-new__is-opened-check' %>
      <%= f.label :is_opened, '投稿を公開する', for: 'new_tweet_is_opened__input', class: 'tweet-new__is-opened-label' %>
    </div>
    <%# 投稿ボタン %>
    <div class='tweet-new__button-box'>
      <%= f.submit "投稿する", class: 'button__black tweet-new__button' %>
    </div>
  <% end %>
</div>

<%# tag-itを有効にする %>
<%= javascript_include_tag 'tag-input.js' %>
