<%# サイトURLをAPIに送信する用 %>
<input id=<%='site_url_js' + tweet.id.to_s %> type='hidden' value=<%= tweet.site.url %> >

<%# タイムライン記事 %>
<div class='timeline__box'>
  <%= link_to tweet_path(tweet.id), class: 'timeline__link-show' do %>

    <%# ヘッダーブロック : ユーザー名、投稿日時 ------------------------------------ %>
    <%= render 'user/shared/tweet_header', tweet: tweet %>

    <%# メインブロック : プレビュー、ページ情報 etc ------------------------------- %>
    <div class='timeline__main'>

      <%# プレビュー %>
      <div class='timeline__preview-box'>
        <object>
          <div class='timeline__preview-background'>
            <%= link_to tweet.site.url, target: :_blank, rel: "noopener noreferrer" do %>
              <img id=<%="lp_image_js" + tweet.id.to_s %> class='timeline__preview' onerror="this.src='<%= asset_path "no-image.png" %>'">
            <% end %>
            <div class='timeline__annotation'>サイトに移動</div>
          </div>
        </object>
      </div>

      <%# ページ情報、紹介文、タグ %>
      <div class='timeline__information'>

        <%# ページタイトル %>
        <div id=<%='lp_title_js' + tweet.id.to_s %> class='timeline__page-title'></div>
        <%# ページURL %>
        <div class='timeline__page-url'><%= tweet.site.url.truncate(40) %></div>
        <%# 紹介文 %>
        <div class='timeline__tweet-text'><%= tweet.text %></div>
        <%# タグ %>
        <%= render 'user/shared/tag_list', tweet: tweet %>
        <%# 非公開設定時の備考 %>
        <%= render 'user/shared/tweet_not_opened', tweet: tweet %>

      </div>
    </div>

    <%# フッターブロック : コメント、いいね etc ----------------------------------- %>
    <div class='timeline__footer'>
      <%# コメント %>
      <div class='timeline__footer-box'>
        <object>
          <%= link_to tweet_path(tweet.id), class:'timeline__footer-link' do %>
            <div>
              <%# アイコン(自分のコメント有のときは塗りつぶし) %>
              <% if tweet.commented_by?(current_user) %>
                <i class="fas fa-comment">
                </i>
              <% else %>
                <i class="far fa-comment"></i>
              <% end %>

              <%# コメント件数（0件の時は表示しない %>
              <% if tweet.comments.count != 0 %>
                <%= tweet.comments.count %>
              <% end %>
            </div>
            <div>
              <small class='timeline__footer-text'>コメント</small>
            </div>

          <% end %>
        </object>
      </div>

      <%# いいねボタン %>
      <div id='tweet_like_js<%= tweet.id %>' class='timeline__footer-box'>
        <%= render 'user/likes/like', tweet: tweet %>
      </div>

      <%# 自分の投稿の場合のみの機能 %>
      <% if current_user.id == tweet.user_id %>
        <%# 編集 %>
        <div class='timeline__footer-box'>
          <object>
            <%= link_to edit_tweet_path(tweet.id), class: 'timeline__footer-link', id: 'edit_tweet_path__test' do %>
              <div>
                <i class="far fa-edit"></i>
              </div>
              <div>
                <small class='timeline__footer-text'>編集</small>
              </div>
            <% end %>
          </object>
        </div>

        <%# 削除 %>
        <div class='timeline__footer-box'>
          <object>
            <%= link_to tweet_path(tweet.id), method: :delete, class: 'timeline__link-show', id: 'delete_tweet_path__test', data: {confirm: "本当に削除しますか？"} do %>
              <div>
                <i class="far fa-trash-alt"></i>
              </div>
              <div>
                <small class='timeline__footer-text'>削除</small>
              </div>
            <% end %>
          </object>
        </div>
      <% end %>
    </div>

  <% end %>
</div>
