<div class='tweet'>
  <div class='tweet__left bg-primary'>
    おすすめサイトを共有しよう！
  </div>
  <div class='tweet__right bg-light'>
    <%= form_with model: @tweet, url: tweets_path, id: 'new_tweets', local:  true do |f| %>
      <%= render "user/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :url %><br />
        <%= f.text_field :url, autofocus: true, id: 'new_tweet_url__input' %>
      </div>

      <div class="field">
        <%= f.label :text %><br />
        <%= f.text_area :text, id: 'new_tweet_text__input' %>
      </div>

      <div class="field">
        <%= f.label :tag_list %><br />
        <%= f.text_field :tag_list, id: 'new_tweet_tag_list__input' %>
      </div>

      <%# <div class="field"> %>
        <%# <%= f.label :is_opened %><br /> %>
        <%#= f.text_field :is_opened, id: 'new_tweet_is_opened__input' %>
      <%# </div> %>

      <div class="actions">
        <%= f.submit "投稿する" %>
      </div>
    <% end %>

  </div>
</div>

<%# tag-itを有効にする %>
<%= javascript_include_tag 'tag-input.js' %>
