<div class="home">
  <div class='home__box'>
    <%# 左サイド %>
    <div class='home__left-side'>
      <%= render 'user/shared/left_side', user: current_user %>
    </div>

    <%# メイン部分 %>
    <div class='home__main'>
      <%# サイトURLをAPIに送信する用 %>
      <input id=<%='site_url_js' + @tweet.id.to_s %> type='hidden' value=<%= @tweet.site.url %> >
      <%# タイムライン記事 %>
      <%= render 'user/tweets/tweet', tweet: @tweet %>

      <%# コメント一覧 %>
      <span id="comment_js">
        <%= render 'user/comments/comment', tweet: @tweet %>
      </span>

      <%# コメントボタン %>
      <div class= 'comment__new-box' >
        <i class="far fa-comment comment__title"> コメントしよう</i>
        <%= form_with(model:[@tweet, @new_comment], remote: true) do |f| %>
          <%= f.text_area :text, placeholder: 'コメントを記入', class: 'comment__new-text', required: true %>
          <%= f.submit 'コメントする', class: 'button__black comment__new-button' %>
        <% end %>
      </div>
    </div>

    <%# 右サイド %>
    <div class='home__right-side'>
      <%# いいね数ランキング %>
      <%= render 'user/shared/ranking', title: 'いいね数', unit: 'likes', ranking_month: @ranking_likes_month, ranking_year: @ranking_likes_year, ranking_all: @ranking_likes_all %>
      <%# コメント数ランキング %>
      <%= render 'user/shared/ranking', title: 'コメント数', unit: 'comments', ranking_month: @ranking_comments_month, ranking_year: @ranking_comments_year, ranking_all: @ranking_comments_all %>
      <%# タグ・ランキング %>
      <%= render 'user/shared/ranking', title: 'タグ・', unit: 'posts', ranking_month: @ranking_tags_month, ranking_year: @ranking_tags_year, ranking_all: @ranking_tags_all, ranking_month_count: @ranking_tags_month_count, ranking_year_count: @ranking_tags_year_count, ranking_all_count: @ranking_tags_all_count %>
    </div>

    <%# 下タブ %>
    <div class='home__bottom-tab'>
      <%= render 'user/shared/bottom_navigation', user: current_user %>
    </div>

  </div>
</div>

<%# タイムライン内でサイトのプレビューを表示 %>
<%= javascript_include_tag 'preview.js' %>
