<div class='left-side'>
  <div class='left-side__sticky'>
    <%# リンク集box -------------------------------------------------------------%>
    <div class='left-side__links-box'>
      <%# ホーム %>
      <%= link_to  home_path, class: 'left-side__link' do %>
        <div class='left-side__icon-outer'>
          <%=image_tag('logo.png', size: '33x33') %>
        </div>
        <div class='left-side__text'>ホーム</div>
      <% end %>

      <%# マイページ %>
      <%= link_to user_path(current_user.id), class: 'left-side__link' do %>
        <div class='left-side__icon-outer'>
          <%= image_tag user.image_url, class: 'left-side__icon-profile' %>
        </div>
        <div class='left-side__text'>マイページ</div>
      <% end %>

      <%# 設定 %>
      <%= link_to  users_setting_path, class: 'left-side__link' do %>
        <div class='left-side__icon-outer'>
          <i class="fas fa-cog left-side__icon"></i>
        </div>
        <div class='left-side__text'>設定</div>
      <% end %>

      <%# about %>
      <%= link_to about_path, class: 'left-side__link' do %>
        <div class='left-side__icon-outer'>
          <i class="fas fa-list-alt left-side__icon"></i>
        </div>
        <div class='left-side__text'>about</div>
      <% end %>

      <%# ログアウト %>
      <%= link_to destroy_user_session_path, method: :delete, class: 'left-side__link' do %>
        <div class='left-side__icon-outer'>
          <i class="fas fa-sign-out-alt left-side__icon"></i>
        </div>
        <div class='left-side__text'>ログアウト</div>
      <% end %>
    </div>

    <%# 検索box -----------------------------------------------------------------%>
    <div class='left-side__search-box'>
      <div class='left-side__search-content'>
        <%= render 'user/searches/search_form', search: @search %>
      </div>
    </div>

    <%# モーダル ボタン(検索) %>
    <div class='left-side__modal-box'>
      <div id="search_button_js">
        <div class='left-side__icon-outer'>
          <i class="fas fa-search left-side__icon"></i>
        </div>
        <div class='left-side__text'>検索する</div>
      </div>
    </div>

    <%# 投稿box----------------------------------------------------------------- %>
    <div class='left-side__tweet-box'>
      <button id='tweet_button_pc_js' class='button__black button__wide left-side__tweet-button' style='outline: none'>投稿する</button>
    </div>

    <%# モーダル ボタン(投稿) %>
    <div class='left-side__modal-box'>
      <div id="tweet_button_js">
        <div class='left-side__icon-outer'>
          <i class="fas fa-sticky-note left-side__icon"></i>
        </div>
        <div class='left-side__text'>投稿する</div>
      </div>
    </div>

  </div>
</div>

<%# モーダル (検索) %>
<%# 背景 %>
<div id="search_cover_js"  class='left-side__modal-cover'></div>

<%# ウィンドウ %>
<div id='search_modal_js' class='left-side__modal-content'>
  <%= render 'user/searches/search_form', search: @search %>
</div>

<%# モーダル (投稿) %>
<%# 背景 %>
<div id="tweet_cover_js"  class='left-side__modal-cover'></div>

<%# ウィンドウ %>
<div id='tweet_modal_js' class='left-side__modal-content'>
  <%= render 'user/tweets/new' %>
</div>

<%# モーダルウィンドウ %>
<%= javascript_include_tag 'modal.js' %>
