<%# 引数1 title               ランキングのタイトル %>
<%# 引数2 unit                単位 %>
<%# 引数3 ranking_month       ランキングの結果(月間) %>
<%# 引数4 ranking_year        ランキングの結果(年間) %>
<%# 引数5 ranking_all         ランキングの結果(全期間) %>
<%# ↓タグ・ランキング限定-------------------------- %>
<%# 引数6 ranking_month_count 集計数(月間) %>
<%# 引数7 ranking_year_count  集計数(年間) %>
<%# 引数8 ranking_all_count   集計数(全期間) %>
<div class='ranking__title'>
  <%= title %>ランキング
</div>
<div class='ranking__content'>
  <ul class='nav nav-pills ranking__span-ul'>
    <li class='nav-item ranking__span-li'>
      <a href="#ranking_likes_month" class="nav-link active ranking__span-a" data-toggle="tab">月間</a>
    </li>
    <li class='nav-item ranking__span-li'>
      <a href="#ranking_likes_year" class="nav-link ranking__span-a" data-toggle="tab">年間</a>
    </li>
    <li class='nav-item ranking__span-li'>
      <a href="#ranking_likes_all" class="nav-link ranking__span-a" data-toggle="tab">全期間</a>
    </li>
  </ul>
  <% if unit == 'posts' %>
    <%#  タグ・ランキングの場合 %>
    <div class="tab-content">
      <div id="ranking_likes_month" class="tab-pane active">
        <%= render 'user/shared/ranking_tag', unit: unit, tags: ranking_month, count: ranking_month_count %>
      </div>
      <div id="ranking_likes_year" class="tab-pane">
        <%= render 'user/shared/ranking_tag', unit: unit, tags: ranking_year, count: ranking_year_count %>
      </div>
      <div id="ranking_likes_all" class="tab-pane">
        <%= render 'user/shared/ranking_tag', unit: unit, tags: ranking_all, count: ranking_all_count %>
      </div>
    </div>
  <% else %>
    <%# 投稿関連のランキングの場合 %>
    <div class="tab-content">
      <div id="ranking_likes_month" class="tab-pane active">
        <%= render 'user/shared/ranking_tweet', unit: unit, tweets: ranking_month %>
      </div>
      <div id="ranking_likes_year" class="tab-pane">
        <%= render 'user/shared/ranking_tweet', unit: unit, tweets: ranking_year %>
      </div>
      <div id="ranking_likes_all" class="tab-pane">
        <%= render 'user/shared/ranking_tweet', unit: unit, tweets: ranking_all %>
      </div>
    </div>
  <% end %>
</div>
