<%# サイトURLをAPIに送信する用 %>
<input id=<%='site_url_js' + tweet.id.to_s %> type='hidden' value=<%= tweet.site.url %> >

<%# タイムライン記事 %>
<div class='timeline__box'>
  <%= link_to tweet_path(tweet.id), class: 'timeline__link-show' do %>
    <div class='timeline__row1'>
      <div class='timeline__row1-col1'>
        <object>
          <%= link_to user_path(tweet.user.id) do %>
            <%# アイコン %>
            <%= attachment_image_tag tweet.user, :image, fallback: "user_default.png", class: 'timeline__user-icon' %>
            <%# ユーザー名 %>
            <span class='timeline__user-name'>
              <%= tweet.user.name %>
            </span>
          <% end %>
        </object>
      </div>
      <%# 投稿日時 %>
      <div class='timeline__tweeted-time'>
        <small><%= tweet.created_at_ja %></small>
      </div>
    </div>
    <div class='timeline__row2'>
      <div class='timeline__row2-col1'>
        <%# サイト画像 %>
        <img id=<%="myimage_js" + tweet.id.to_s %> src="" class='timeline__site-image'>
        <%# TODO:タグ %>
      </div>
      <div class='timeline__row2-col2'>
        <%# ページタイトル %>
        <div id=<%='mytitle_js' + tweet.id.to_s %> class='timeline__page-title' ></div>
        <%# ページURL %>
        <div class='timeline__page-url'><%= tweet.site.url %></div>
        <%# 紹介文 %>
        <div class='timeline__tweet-text'><%= tweet.text %></div>
        <%# タグ %>
        <%= render 'user/shared/tag_list', tweet: tweet %>
        <%# 非公開設定時の備考 %>
        <%= render 'user/shared/tweet_not_opened', tweet: tweet %>
      </div>
    </div>
    <div class='timeline__row3'>
      <%# コメント %>
      <div class='timeline__tweet-item'>
        <%= link_to tweet_path(tweet.id), class: 'timeline__link-show' do %>
          <% if tweet.commented_by?(current_user) %>
            <%# 自分がコメントしている場合 %>
            <i class="fas fa-comment">コメント</i>
          <% else %>
            <%# 自分がコメントしていない場合 %>
            <i class="far fa-comment">コメント</i>
          <% end %>
          <%# コメントされている時だけ件数表示 %>
          <% if tweet.comments.count != 0 %>
            <%= tweet.comments.count %>
          <% end %>
        <% end %>
      </div>
      <%# いいね %>
      <div class='timeline__tweet-item'>
        <% if tweet.liked_by?(current_user) %>
          <%# 自分がいいねしている場合 %>
          <%= link_to tweet_likes_path(tweet.id), method: :delete, class: 'timeline__link-show' do %>
            <i class="fas fa-thumbs-up"> いいね</i>
          <% end %>
        <% else %>
          <%# 自分がいいねしていない場合 %>
          <%= link_to tweet_likes_path(tweet.id), method: :post, class: 'timeline__link-show' do %>
            <i class="far fa-thumbs-up"> いいね</i>
          <% end %>
        <% end %>
        <%# 自分や他の人にいいねされている時だけ件数表示 %>
        <% if tweet.likes.count != 0 %>
          <%= tweet.likes.count %>
        <% end %>
      </div>
      <%# 自分の投稿の場合のみの機能 %>
      <% if current_user.id == tweet.user_id %>
        <%# 投稿の編集 %>
        <div class='timeline__tweet-item'>
          <%= link_to edit_tweet_path(tweet.id), class: 'timeline__link-show' do %>
            <i class="far fa-edit"> 編集</i>
          <% end %>
        </div>
        <%# 投稿の削除 %>
        <div class='timeline__tweet-item'>
          <%= link_to tweet_path(tweet.id), method: :delete, class: 'timeline__link-show', "data-confirm" => "本当に削除しますか？" do %>
            <i class="far fa-trash-alt"> 削除</i>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
