<!DOCTYPE html>
<html>
  <head>
    <title>SiteStocker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# レスポンシブ対応 %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%# Font Awsome %>
    <script src="https://kit.fontawesome.com/c826cbed9f.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%# jsファイル内で環境変数を使用できるようにする %>
    <%= include_gon %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <div class=application>
      <%# ヘッダー %>
      <% if admin_signed_in? %>
        <%= render 'layouts/header-admin' %>
      <% elsif user_signed_in? %>
        <%= render 'layouts/header-user' %>
      <% end %>

      <%# メイン %>
      <main><%= yield %></main>

      <%# フッター %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
