<!DOCTYPE html>
<html>
  <head>
    <title>SiteStocker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class=application>
      <%# ヘッダー %>
      <%= render 'layouts/header-user' %>

      <%# フラッシュメッセージ %>
      <%= render 'layouts/notifications' %>

      <%# メイン %>
      <main><%= yield %></main>

      <%# フッター %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
